/* reset css */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Navbar */

.navbar{

  background-color: #25d4a5;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  font-weight: bold;
  border-bottom: 2px solid #000;
  

}

.logo{
  text-decoration: none;
  color: #000;
  font-weight: bolder;
  letter-spacing: 1px;
}

.menu{
  list-style: none;
  display: flex;
  gap: 1rem;
 
}

.menu-link a{
   color: #000;
   text-decoration: none;
}

.menu-link a:hover{
  border-bottom: 1px solid #000;
}